.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0.5rem;
  width: 20%;
  height: 100%;
  background-color: rgb(192,192,192)
}

.sidebar-header {
  padding-left: 10px;
  margin-bottom: 5px;
}

.sidebar #title {
  text-align: center;
  padding-top: 15px;
  font-size: 30px;
}

.sidebar .rooms {
  text-align: center;
  margin: auto;
  padding-top: 15px;
}

.sidebar .rooms .roomlist:hover {
  cursor: pointer;
  padding: 5px;
}

.sidebar .rooms .addbutton {
  position: relative;
  clear: left;
  color: grey;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  cursor: pointer;
}
