<div ng-controller="HomeCtrl as home">
  <section class="sidebar">
    <div class="sidebar-header">
      <h1 id="title">Bloc Chat</h1>

      <div class="rooms">
        <div ng-controller="ModalCtrl as modal">
          <button class="addbutton" type="button" ng-click="modal.createRoom()">add room</button>
        </div>
        <br />
        <br />
        <div class="roomlist" ng-repeat="room in home.rooms">
          <h4 ng-click="home.setCurrentRoom(room)"> {{ room.name }} </h4>
        </div>
      </div>
    </div>
  </section>

  <section class="messages">
    <div class="messages-header">
      <h4>{{ home.activeRoom.name }}</h4>
    </div>
    <div class="messages-body" ng-repeat="message in home.messages">
      <div class="username">{{ message.username }}</div>
      <div class="time">{{ message.sentAt }}</div>
      <div class="content">{{ message.content }}</div>
    </div>
  </section>
</div>
